<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/profile">@<%- userEjs.slack.name %></a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>