<!doctype html>
<html>
    <head>
        <title>JAKT Slack links</title>
    </head>
    <body>
        <div class="jumbotron text-center">
            <h2><span class="fa fa-lock"></span>jakt links</h2>
        </div>
    </body>
</html>
