<% layout('layout') -%>

<div class="col-sm-6 col-sm-offset-3" style="margin-top: 80px">

    <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div class="jumbotron text-center">
        <h2><span class="fa fa-lock"></span> jakt links</h2>

        <p>Login with:</p>

        <a href="/auth/slack" class="btn btn-primary"><i class="fa fa-slack"></i> Slack</a>
    </div>
</div>
