<% layout('layout') -%>

<div class="container">
    <h2 id="main-title"><img src="/img/jakt-logo.jpg"> Slack links</h2>

    <div id="react-main-mount">


        <!-- reactOutput ejstag-->
    </div>
</div>

