* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0 0 40px 0;
    color: white;
    background: #2c3e50;
}

footer {
    position: fixed; //ssddddsdf
    z-index: 999;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: #abd9ff;
    a, span {
        font-size: 12px;
        font-weight: bold;
    }
    a.link-back {
        text-decoration: none;
        color: #2c3e50;
    }
    .twitter-share-button {
        margin-right: 10px;
    }
    span.update-message {
        padding-top: 3px;
        color: #2c3e50;
    }
    .twitter-share-button, .update-message {
        float: right;
    }
}

.loader {
    text-align: center;
    img {
        max-height: 0;
        margin: 0;
        -webkit-transition: 1s all ease;
        -moz-transition: 1s all ease;
        -ms-transition: 1s all ease;
        -o-transition: 1s all ease;
        transition: 1s all ease;
    }
    &.active img {
        max-height: 50px;
        margin: 10px auto 20px;
    }
}

.notification-bar {
    font-size: 13px;
    font-weight: bold;
    position: fixed;
    top: -60px;
    width: 100%;
    -webkit-transition: 300ms top ease;
    -moz-transition: 300ms top ease;
    -ms-transition: 300ms top ease;
    -o-transition: 300ms top ease;
    transition: 300ms top ease;
    text-align: center;
    color: white;
    background: rgba(241, 196, 15, 0.9);
    &.active {
        top: 0;
    }
    a {
        color: white;
    }
}

h1 {
    text-align: center;
}

.links {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.link {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 12px auto;
    list-style-type: none;
    color: #2c3e50;
    border-radius: 3px;
    background: white;
    box-shadow: 0 3px 0 #eee;

    .vote-block {

        display: inline-block;
        width: 100px;

        .inner {
            position: absolute;
            left: 0;
            top: 0;
            margin: auto;
            //border: 1px solid gray;
            display: inline-block;
            padding: 10px;
            border-radius: 50%;

            a {
                text-decoration: none;
            }
        }
    }

    &.active {
        max-height: 125px;
        margin: 20px 0;
        -webkit-transition: 1s all ease;
        -moz-transition: 1s all ease;
        -ms-transition: 1s all ease;
        -o-transition: 1s all ease;
        transition: 1s all ease;
    }
    .avatar {
        position: relative;
        display: inline-block;
        float: left;
        width: 48px;
        margin: 10px;
        border: 2px solid #ccc;
        border-radius: 48px;
    }
    blockquote {
        font-size: 14px;
        display: inline-block;
        width: calc(100% - 100px);
        margin: 0;
        padding: 10px;
        cite {
            font-weight: bold;
            font-style: normal;
            a {
                display: inline-block;
                margin-right: 5px;
                text-decoration: none;
                color: #1abc9c;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .screen-name {
            font-size: 13px;
            font-weight: normal;
            color: #ccc;
        }
        .content {
            display: block;
            clear: left;
            margin-top: 5px;
        }
    }
    &:before {
        display: table;
        content: ' ';
    }
    &:after {
        display: table;
        content: ' ';
        clear: both;
    }
}

@media (max-width: 650px) {
    footer span.update-message {
        display: none;
    }
}

@media (max-width: 500px) {
    footer a {
        &.link-back {
            font-size: 0;
        }
        &:after {
            font-size: 12px;
            content: '← Back To Learning React';
        }
    }
}
