@charset "UTF-8";
@import url(fonts/font-awesome/css/font-awesome.css);
@import url(//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
* {
  box-sizing: border-box; }

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("fonts/ProximaNova/ProximaNovaBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url("fonts/ProximaNova/ProximaNovaSbold.woff") format("woff"); }

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("fonts/ProximaNova/ProximaNovaReg.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Lato', 'Lato', sans-serif;
  margin: 0;
  padding: 0 0 40px 0;
  color: #404040;
  background: white; }

body > span, body > h1 {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 10px; }

span {
  color: #888888; }
  span > b {
    color: black; }

#selected {
  float: left;
  width: 100%;
  margin-top: 20px; }

#dropper div .header-container-container {
  width: 100%;
  margin-left: 20px; }
  #dropper div .header-container-container .column.header-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    position: relative;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    width: 285px;
    padding: 21px 0 10px 0;
    text-align: center;
    text-decoration: none; }
    #dropper div .header-container-container .column.header-container a {
      text-decoration: none; }
      #dropper div .header-container-container .column.header-container a i {
        display: inline-block; }
      #dropper div .header-container-container .column.header-container a.selected {
        display: block; }

div.dropdown-container {
  display: block;
  width: 100%;
  margin-top: 60px; }
  div.dropdown-container.show > div.dropdown-list {
    transition: all ease 250ms;
    height: 200px; }
  div.dropdown-container > div a {
    color: darkslategray; }
  div.dropdown-container > div.dropdown-display {
    float: left;
    width: 100%;
    background: white;
    height: 40px;
    cursor: pointer;
    border: solid 1px #DDD;
    text-align: center;
    padding: 10px; }
    div.dropdown-container > div.dropdown-display > * {
      float: left;
      height: 100%; }
    div.dropdown-container > div.dropdown-display > span {
      font-size: 14px;
      width: 100%;
      position: relative;
      padding-right: 34px;
      padding-left: 10px; }
    div.dropdown-container > div.dropdown-display > i {
      position: relative;
      width: 14px;
      margin-left: -24px;
      font-size: 1.125em;
      font-weight: bold;
      padding-right: 10px;
      text-align: right;
      color: black; }
  div.dropdown-container > div.dropdown-list {
    float: left;
    width: 100%;
    position: relative;
    transition: all ease 250ms;
    height: 0px;
    overflow: scroll; }
    div.dropdown-container > div.dropdown-list > div {
      position: absolute;
      width: 100%;
      z-index: 2;
      cursor: pointer;
      background: white; }
      div.dropdown-container > div.dropdown-list > div > div {
        float: left;
        width: 100%;
        padding: 8px 10px;
        font-size: 14px;
        border: solid 1px #DDD;
        border-top: none;
        color: gray; }
        div.dropdown-container > div.dropdown-list > div > div:hover {
          background: #F0F0F0; }
        div.dropdown-container > div.dropdown-list > div > div.selected {
          background: #2875C7;
          color: white; }
        div.dropdown-container > div.dropdown-list > div > div > span {
          float: left;
          width: 100%;
          position: relative;
          padding-right: 20px;
          color: inherit; }
        div.dropdown-container > div.dropdown-list > div > div > i {
          float: left;
          width: 10px;
          margin-left: 10px;
          display: none; }
        div.dropdown-container > div.dropdown-list > div > div.selected > i {
          display: inline-block; }

.loader {
  text-align: center; }
  .loader img {
    max-height: 0;
    margin: 0;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
    transition: 1s all ease; }
  .loader.active img {
    max-height: 50px;
    margin: 10px auto 20px; }

.notification-bar {
  font-size: 13px;
  font-weight: bold;
  position: fixed;
  top: -60px;
  left: 0;
  width: 100%;
  -webkit-transition: 300ms top ease;
  -moz-transition: 300ms top ease;
  -ms-transition: 300ms top ease;
  -o-transition: 300ms top ease;
  transition: 300ms top ease;
  text-align: center;
  color: white;
  background: rgba(241, 196, 15, 0.9); }
  .notification-bar.active {
    top: 0; }
  .notification-bar a {
    color: darkslategray; }

#main-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: -50px; }
  #main-title img {
    position: relative;
    top: -4px; }

.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  min-width: 350px;
  padding: 0 10px;
  position: relative; }
  .container .links {
    margin: 0 auto;
    padding: 0 20px; }
    .container .links .link {
      -webkit-transition: background, 0.1s;
      -moz-transition: background, 0.1s;
      transition: background, 0.1s;
      background: white;
      font-size: 18px;
      min-height: 110px;
      line-height: 23px;
      padding-top: 15px;
      padding-bottom: 15px;
      border-radius: 3px;
      margin: 0 -10px;
      padding: 10px;
      list-style: none; }
      .container .links .link .inner {
        -webkit-transition: background, 0.1s;
        -moz-transition: background, 0.1s;
        transition: background, 0.1s;
        background: white;
        font-size: 18px;
        min-height: 110px;
        line-height: 23px;
        padding-top: 15px;
        padding-bottom: 15px;
        clear: both;
        box-sizing: border-box;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        border-radius: 3px;
        margin: 0 -10px;
        padding: 10px;
        position: relative; }
        .container .links .link .inner:hover {
          background: #f7f7fa; }
        .container .links .link .inner .post-vote-button {
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-flow: column nowrap;
          -moz-flex-flow: column nowrap;
          flex-flow: column nowrap;
          color: black;
          position: relative;
          text-align: center;
          padding-right: 10px;
          cursor: pointer;
          text-decoration: none; }
          .container .links .link .inner .post-vote-button .post-vote-button--count {
            font-size: 13px;
            line-height: 16px;
            margin: 2px 0 0; }
        .container .links .link .inner .center {
          display: inline-block;
          vertical-align: middle;
          margin-left: 20px;
          -webkit-box-flex: 1;
          -moz-box-flex: 1;
          box-flex: 1;
          -webkit-flex: 1;
          -moz-flex: 1;
          -ms-flex: 1;
          flex: 1; }
          .container .links .link .inner .center .link-link {
            text-decoration: none;
            color: #1B6982;
            font-size: 20px;
            font-weight: 600;
            margin: 6px 2px 0 0px;
            line-height: 22px;
            margin-right: 5px;
            max-width: 680px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            cursor: pointer; }
          .container .links .link .inner .center .content-desc {
            color: #999999;
            font-size: 17px;
            margin: 5px 0 0 0px;
            display: block;
            line-height: 20px;
            display: -webkit-box;
            display: -moz-box;
            display: box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -moz-box-align: center;
            box-align: center;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -ms-flex-align: center; }
        .container .links .link .inner .right {
          display: inline-block;
          vertical-align: middle;
          margin-left: 20px;
          margin-right: 10px; }
          .container .links .link .inner .right .user-image {
            display: inline-block;
            position: relative; }
          .container .links .link .inner .right img {
            border-radius: 50%;
            left: 13px;
            display: inline-block;
            position: relative; }
      .container .links .link:hover {
        background: #f7f7fa; }
        .container .links .link:hover .inner {
          background: #f7f7fa; }
      .container .links .link .comments {
        cursor: pointer; }
        .container .links .link .comments .comm-bubble {
          display: inline-block;
          font-size: 13px; }
        .container .links .link .comments .spacer {
          display: inline-block;
          font-size: 13px;
          width: 24px; }
        .container .links .link .comments form {
          margin: 0 auto;
          width: 500px;
          display: inline-block;
          position: relative;
          left: 24px; }
          .container .links .link .comments form .form-group {
            width: 100%; }
        .container .links .link .comments ul {
          list-style-type: none; }
          .container .links .link .comments ul li {
            list-style: none;
            padding: 10px; }
            .container .links .link .comments ul li img {
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              position: relative; }
            .container .links .link .comments ul li span.userName {
              margin-left: 2px;
              color: #6A6A6B; }
            .container .links .link .comments ul li span.userComment {
              margin-left: 6px; }
      .container .links .link.active {
        max-height: 125px;
        margin: 20px 0;
        -webkit-transition: 1s all ease;
        -moz-transition: 1s all ease;
        -ms-transition: 1s all ease;
        -o-transition: 1s all ease;
        transition: 1s all ease; }
      .container .links .link .avatar {
        position: relative;
        display: inline-block;
        float: left;
        width: 48px;
        margin: 10px;
        border: 2px solid #ccc;
        border-radius: 48px; }

footer {
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: #abd9ff; }
  footer a, footer span {
    font-size: 12px;
    font-weight: bold; }
  footer a.link-back {
    text-decoration: none;
    color: #2c3e50; }
  footer .twitter-share-button {
    margin-right: 10px; }
  footer span.update-message {
    padding-top: 3px;
    color: #2c3e50; }
  footer .twitter-share-button, footer .update-message {
    float: right; }

@media (max-width: 650px) {
  footer span.update-message {
    display: none; } }

@media (max-width: 500px) {
  footer a.link-back {
    font-size: 0; }
  footer a:after {
    font-size: 12px;
    content: '← Back To Learning React'; } }
