@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0 0 40px 0;
  color: white;
  background: #2c3e50; }

footer {
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: #abd9ff; }
  footer a, footer span {
    font-size: 12px;
    font-weight: bold; }
  footer a.link-back {
    text-decoration: none;
    color: #2c3e50; }
  footer .twitter-share-button {
    margin-right: 10px; }
  footer span.update-message {
    padding-top: 3px;
    color: #2c3e50; }
  footer .twitter-share-button, footer .update-message {
    float: right; }

.loader {
  text-align: center; }
  .loader img {
    max-height: 0;
    margin: 0;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
    transition: 1s all ease; }
  .loader.active img {
    max-height: 50px;
    margin: 10px auto 20px; }

.notification-bar {
  font-size: 13px;
  font-weight: bold;
  position: fixed;
  top: -60px;
  width: 100%;
  -webkit-transition: 300ms top ease;
  -moz-transition: 300ms top ease;
  -ms-transition: 300ms top ease;
  -o-transition: 300ms top ease;
  transition: 300ms top ease;
  text-align: center;
  color: white;
  background: rgba(241, 196, 15, 0.9); }
  .notification-bar.active {
    top: 0; }
  .notification-bar a {
    color: white; }

h1 {
  text-align: center; }

.links {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px; }

.link {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 12px auto;
  list-style-type: none;
  color: #2c3e50;
  border-radius: 3px;
  background: white;
  box-shadow: 0 3px 0 #eee; }
  .link .vote-block {
    display: inline-block;
    width: 100px; }
    .link .vote-block .inner {
      position: absolute;
      left: 0;
      top: 0;
      margin: auto;
      display: inline-block;
      padding: 10px;
      border-radius: 50%; }
      .link .vote-block .inner a {
        text-decoration: none; }
  .link.active {
    max-height: 125px;
    margin: 20px 0;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
    transition: 1s all ease; }
  .link .avatar {
    position: relative;
    display: inline-block;
    float: left;
    width: 48px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 48px; }
  .link blockquote {
    font-size: 14px;
    display: inline-block;
    width: calc(100% - 100px);
    margin: 0;
    padding: 10px; }
    .link blockquote cite {
      font-weight: bold;
      font-style: normal; }
      .link blockquote cite a {
        display: inline-block;
        margin-right: 5px;
        text-decoration: none;
        color: #1abc9c; }
        .link blockquote cite a:hover {
          text-decoration: underline; }
    .link blockquote .screen-name {
      font-size: 13px;
      font-weight: normal;
      color: #ccc; }
    .link blockquote .content {
      display: block;
      clear: left;
      margin-top: 5px; }
  .link:before {
    display: table;
    content: ' '; }
  .link:after {
    display: table;
    content: ' ';
    clear: both; }

@media (max-width: 650px) {
  footer span.update-message {
    display: none; } }

@media (max-width: 500px) {
  footer a.link-back {
    font-size: 0; }
  footer a:after {
    font-size: 12px;
    content: 'â† Back To Learning React'; } }

body > span, body > h1 {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 10px; }

span {
  color: #888888; }
  span > b {
    color: black; }

#selected {
  float: left;
  width: 100%;
  margin-top: 20px; }

div.dropdown-container {
  display: block;
  width: 100%;
  margin-top: 60px; }
  div.dropdown-container.show > div.dropdown-list {
    transition: all ease 250ms;
    height: 200px; }
  div.dropdown-container > div.dropdown-display {
    float: left;
    width: 100%;
    background: white;
    height: 40px;
    cursor: pointer;
    border: solid 1px #DDD; }
    div.dropdown-container > div.dropdown-display > * {
      float: left;
      height: 100%; }
    div.dropdown-container > div.dropdown-display > span {
      font-size: 14px;
      width: 100%;
      position: relative;
      padding-right: 34px;
      padding-left: 10px; }
    div.dropdown-container > div.dropdown-display > i {
      position: relative;
      width: 14px;
      margin-left: -24px;
      font-size: 1.125em;
      font-weight: bold;
      padding-right: 10px;
      text-align: right;
      color: black; }
  div.dropdown-container > div.dropdown-list {
    float: left;
    width: 100%;
    position: relative;
    transition: all ease 250ms;
    height: 0px;
    overflow: scroll; }
    div.dropdown-container > div.dropdown-list > div {
      position: absolute;
      width: 100%;
      z-index: 2;
      cursor: pointer;
      background: white; }
      div.dropdown-container > div.dropdown-list > div > div {
        float: left;
        width: 100%;
        padding: 8px 10px;
        font-size: 14px;
        border: solid 1px #DDD;
        border-top: none;
        color: gray; }
        div.dropdown-container > div.dropdown-list > div > div:hover {
          background: #F0F0F0; }
        div.dropdown-container > div.dropdown-list > div > div.selected {
          background: #2875C7;
          color: white; }
        div.dropdown-container > div.dropdown-list > div > div > span {
          float: left;
          width: 100%;
          position: relative;
          padding-right: 20px;
          color: inherit; }
        div.dropdown-container > div.dropdown-list > div > div > i {
          float: left;
          width: 10px;
          margin-left: 10px;
          display: none; }
        div.dropdown-container > div.dropdown-list > div > div.selected > i {
          display: inline-block; }
