@import "fonts/font-awesome/css/font-awesome.css";

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('fonts/ProximaNova/ProximaNovaBold.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('fonts/ProximaNova/ProximaNovaSbold.woff') format("woff");
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('fonts/ProximaNova/ProximaNovaReg.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}


body {
    //font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: 'ProximaNova-Regular', 'ProximaNova-Regular', sans-serif;
    margin: 0;
    padding: 0 0 40px 0;
    color: #404040;
    background:white;
}

body > span, body > h1 {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

span {
    color: #888888;
    > b {
        color: black;
    }
}

#selected {
    float: left;
    width: 100%;
    margin-top: 20px;
}

$height: 40px;
$spacing: 10px;
$select-colour: #2875C7;
$font-size: 14px;
$border-colour: #DDD;
$icon-width: 10px;

#dropper {

    div {

        .header-container-container{

            width: 100%;
            margin-left: 20px;

            .column.header-container {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;
                position: relative;
                -o-transition: background-color 0.2s;
                -webkit-transition: background-color 0.2s;
                transition: background-color 0.2s;
                width: 285px;
                padding: 21px 0 10px 0;
                text-align: center;
                text-decoration: none;

                a {
                    text-decoration: none;

                    i {
                        display: inline-block;
                    }

                    &.selected {
                        display: block;
                    }
                }
            }
        }
    }
}

div.dropdown-container {

    display: block;
    width: 100%;
    margin-top: 60px;

    &.show > div.dropdown-list {
        //transform: (scale(1, 1));
        transition: all ease 250ms;
        height: 200px;
    }

    > div a {
        color: darkslategray;
    }

    > div.dropdown-display {
        float: left;
        width: 100%;
        background: white;
        height: $height;
        cursor: pointer;
        border: solid 1px $border-colour;
        $icon-width: 14px;
        text-align: center;
        padding: 10px;

        > * {
            float: left;
            height: 100%;
        }
        > span {
            font-size: $font-size;
            width: 100%;
            position: relative;
            padding-right: $icon-width +$spacing*2;
            padding-left: $spacing;
        }
        > i {
            position: relative;
            width: $icon-width;
            margin-left: ($spacing+$icon-width)*-1;
            font-size: 1.125em;
            font-weight: bold;
            padding-right: $spacing;
            text-align: right;
            color: black;
        }
    }

    > div.dropdown-list {
        float: left;
        width: 100%;
        position: relative;
        transition: all ease 250ms;
        height: 0px;
        overflow: scroll;

        > div {
            position: absolute;
            width: 100%;
            z-index: 2;
            cursor: pointer;
            background: white;
            > div {
                float: left;
                width: 100%;
                padding: 8px 10px;
                font-size: 14px;
                border: solid 1px #DDD;
                border-top: none;
                color: gray;

                &:hover {
                    background: #F0F0F0;
                }

                &.selected {
                    background: $select-colour;
                    color: white;
                }

                > span {
                    float: left;
                    width: 100%;
                    position: relative;
                    padding-right: $icon-width + $spacing;
                    color: inherit;
                }
                > i {
                    float: left;
                    width: $icon-width;
                    margin-left: 10px;
                    display: none;
                }
                &.selected > i {
                    display: inline-block;
                }
            }
        }
    }
}


.loader {
    text-align: center;
    img {
        max-height: 0;
        margin: 0;
        -webkit-transition: 1s all ease;
        -moz-transition: 1s all ease;
        -ms-transition: 1s all ease;
        -o-transition: 1s all ease;
        transition: 1s all ease;
    }
    &.active img {
        max-height: 50px;
        margin: 10px auto 20px;
    }
}

.notification-bar {
    font-size: 13px;
    font-weight: bold;
    position: fixed;
    top: -60px;
    left: 0;
    width: 100%;
    -webkit-transition: 300ms top ease;
    -moz-transition: 300ms top ease;
    -ms-transition: 300ms top ease;
    -o-transition: 300ms top ease;
    transition: 300ms top ease;
    text-align: center;
    color: white;
    background: rgba(241, 196, 15, 0.9);
    &.active {
        top: 0;
    }
    a {
        color: darkslategray;
    }
}

h1 {
    text-align: center;
}



.container  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 960px;
    min-width: 350px;
    padding: 0 10px;
    position: relative;

    .links {
       // max-width: 600px;
        margin: 0 auto;
        padding: 0 20px;

        .link {
            -webkit-transition: background, 0.1s;
            -moz-transition: background, 0.1s;
            transition: background, 0.1s;
            background: white;
            font-size: 18px;
            min-height: 110px;
            line-height: 23px;
            padding-top: 15px;
            padding-bottom: 15px;
            clear: both;
            box-sizing: border-box;
            display: -webkit-box;
            display: -moz-box;
            display: box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -moz-box-align: center;
            box-align: center;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -ms-flex-align: center;
            border-radius: 3px;
            //cursor: pointer;
            margin: 0 -10px;
            padding: 10px;
            position: relative;

            &:hover {
                background: #f7f7fa;
            }

            .post-vote-button {
                display: -webkit-box;
                display: -moz-box;
                display: box;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-flow: column nowrap;
                -moz-flex-flow: column nowrap;
                flex-flow: column nowrap;
                color: black;
                position: relative;
                text-align: center;
                padding-right: 10px;
                cursor: pointer;

                .post-vote-button--count {
                    font-size: 13px;
                    line-height: 16px;
                    margin: 2px 0 0;
                }
            }

            .center {
                display: inline-block;
                vertical-align: middle;
                margin-left: 20px;
                -webkit-box-flex: 1;
                -moz-box-flex: 1;
                box-flex: 1;
                -webkit-flex: 1;
                -moz-flex: 1;
                -ms-flex: 1;
                flex: 1;

                .link-link {
                    text-decoration: none;
                    color: #1B6982; //black;
                    font-size: 20px;
                    font-weight: 600;
                    margin: 6px 2px 0 0px;
                    line-height: 22px;
                    margin-right: 5px;
                    max-width: 700px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                    cursor: pointer;
                }

                .content-desc {
                    color: #999999;
                    font-size: 17px;
                    margin: 5px 0 0 0px;
                    display: block;
                    line-height: 20px;
                    display: -webkit-box;
                    display: -moz-box;
                    display: box;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -moz-box-align: center;
                    box-align: center;
                    -webkit-align-items: center;
                    -moz-align-items: center;
                    -ms-align-items: center;
                    -o-align-items: center;
                    align-items: center;
                    -ms-flex-align: center;
                }
            }

            .right {
                display: inline-block;
                vertical-align: middle;
                margin-left: 20px;

                .user-image {
                    display: inline-block;
                    position: relative;
                }

                img {
                    border-radius: 50%;
                    top: 17px;
                    left: 13px;
                    display: inline-block;
                    position: relative;
                }
            }

            &.active {
                max-height: 125px;
                margin: 20px 0;
                -webkit-transition: 1s all ease;
                -moz-transition: 1s all ease;
                -ms-transition: 1s all ease;
                -o-transition: 1s all ease;
                transition: 1s all ease;
            }

            .avatar {
                position: relative;
                display: inline-block;
                float: left;
                width: 48px;
                margin: 10px;
                border: 2px solid #ccc;
                border-radius: 48px;
            }
        }
    }
}

footer {
    position: fixed; //ssddddsdf
    z-index: 999;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: #abd9ff;
    a, span {
        font-size: 12px;
        font-weight: bold;
    }
    a.link-back {
        text-decoration: none;
        color: #2c3e50;
    }
    .twitter-share-button {
        margin-right: 10px;
    }
    span.update-message {
        padding-top: 3px;
        color: #2c3e50;
    }
    .twitter-share-button, .update-message {
        float: right;
    }
}

@media (max-width: 650px) {
    footer span.update-message {
        display: none;
    }
}

@media (max-width: 500px) {
    footer a {
        &.link-back {
            font-size: 0;
        }
        &:after {
            font-size: 12px;
            content: '← Back To Learning React';
        }
    }
}

