* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0 0 40px 0;
    color: white;
    background: #2c3e50;
}

footer {
    position: fixed; //ssddddsdf
    z-index: 999;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: #abd9ff;
    a, span {
        font-size: 12px;
        font-weight: bold;
    }
    a.link-back {
        text-decoration: none;
        color: #2c3e50;
    }
    .twitter-share-button {
        margin-right: 10px;
    }
    span.update-message {
        padding-top: 3px;
        color: #2c3e50;
    }
    .twitter-share-button, .update-message {
        float: right;
    }
}

.loader {
    text-align: center;
    img {
        max-height: 0;
        margin: 0;
        -webkit-transition: 1s all ease;
        -moz-transition: 1s all ease;
        -ms-transition: 1s all ease;
        -o-transition: 1s all ease;
        transition: 1s all ease;
    }
    &.active img {
        max-height: 50px;
        margin: 10px auto 20px;
    }
}

.notification-bar {
    font-size: 13px;
    font-weight: bold;
    position: fixed;
    top: -60px;
    width: 100%;
    -webkit-transition: 300ms top ease;
    -moz-transition: 300ms top ease;
    -ms-transition: 300ms top ease;
    -o-transition: 300ms top ease;
    transition: 300ms top ease;
    text-align: center;
    color: white;
    background: rgba(241, 196, 15, 0.9);
    &.active {
        top: 0;
    }
    a {
        color: white;
    }
}

h1 {
    text-align: center;
}

.links {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.link {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 12px auto;
    list-style-type: none;
    color: #2c3e50;
    border-radius: 3px;
    background: white;
    box-shadow: 0 3px 0 #eee;

    .vote-block {

        display: inline-block;
        width: 100px;

        .inner {
            position: absolute;
            left: 0;
            top: 0;
            margin: auto;
            //border: 1px solid gray;
            display: inline-block;
            padding: 10px;
            border-radius: 50%;

            a {
                text-decoration: none;
            }
        }
    }

    &.active {
        max-height: 125px;
        margin: 20px 0;
        -webkit-transition: 1s all ease;
        -moz-transition: 1s all ease;
        -ms-transition: 1s all ease;
        -o-transition: 1s all ease;
        transition: 1s all ease;
    }
    .avatar {
        position: relative;
        display: inline-block;
        float: left;
        width: 48px;
        margin: 10px;
        border: 2px solid #ccc;
        border-radius: 48px;
    }
    blockquote {
        font-size: 14px;
        display: inline-block;
        width: calc(100% - 100px);
        margin: 0;
        padding: 10px;
        cite {
            font-weight: bold;
            font-style: normal;
            a {
                display: inline-block;
                margin-right: 5px;
                text-decoration: none;
                color: #1abc9c;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .screen-name {
            font-size: 13px;
            font-weight: normal;
            color: #ccc;
        }
        .content {
            display: block;
            clear: left;
            margin-top: 5px;
        }
    }
    &:before {
        display: table;
        content: ' ';
    }
    &:after {
        display: table;
        content: ' ';
        clear: both;
    }
}

@media (max-width: 650px) {
    footer span.update-message {
        display: none;
    }
}

@media (max-width: 500px) {
    footer a {
        &.link-back {
            font-size: 0;
        }
        &:after {
            font-size: 12px;
            content: 'â† Back To Learning React';
        }
    }
}



body > span, body > h1 {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

span {
    color: #888888;
    > b {
        color: black;
    }
}

#selected {
    float: left;
    width: 100%;
    margin-top: 20px;
}



$height :40px;
$spacing :10px;
$select-colour :#2875C7;
$font-size :14px;
$border-colour :#DDD;
$icon-width: 10px;

div.dropdown-container {

    display: block;
    width: 100%;
    margin-top: 60px;

    &.show > div.dropdown-list {
        //transform: (scale(1, 1));
        transition: all ease 250ms;
        height: 200px;
    }

    > div.dropdown-display {
        float: left;
        width: 100%;
        background: white;
        height: $height;
        cursor: pointer;
        border: solid 1px $border-colour;
        $icon-width :14px;
        > * {
            float: left;
            height: 100%;
        }
        > span {
            font-size: $font-size;
            width: 100%;
            position: relative;
            padding-right: $icon-width +$spacing*2;
            padding-left: $spacing;
        }
        > i {
            position: relative;
            width:$icon-width;
            margin-left: ($spacing+$icon-width)*-1;
            font-size: 1.125em;
            font-weight: bold;
            padding-right: $spacing;
            text-align: right;
            color: black;
        }
    }

    > div.dropdown-list {
        float: left;
        width: 100%;
        position: relative;
        transition: all ease 250ms;
        height: 0px;
        overflow: scroll;

        > div {
            position: absolute;
            width: 100%;
            z-index: 2;
            cursor: pointer;
            background: white;
            > div {
                float: left;
                width: 100%;
                padding: 8px 10px;
                font-size: 14px;
                border: solid 1px #DDD;
                border-top: none;
                color: gray;

                &:hover {
                    background: #F0F0F0;
                }

                &.selected {
                    background: $select-colour;
                    color: white;
                }

                > span {
                    float: left;
                    width: 100%;
                    position: relative;
                    padding-right: $icon-width + $spacing;
                    color: inherit;
                }
                > i {
                    float: left;
                    width: $icon-width;
                    margin-left: 10px;
                    display: none;
                }
                &.selected > i {
                    display: inline-block;
                }
            }
        }
    }
}